{% extends 'manager/boilerplate.html' %}

{% block content %}
<h1>Manage Pizzas</h1>

<div class="row">
  <div class="col-md">
  
    <div class="card card-body">
      <a class="btn btn-outline-warning btn-block" href="{% url 'new_pizza' %}">
        Create New Pizza
      </a>
      <table class="table table-sm">
        <tr>
          <th>Pizza</th>
          <th>Toppings</th>
        </tr>
        {% for pizza in pizzas %}
        <tr>
          <td>{{pizza.name}}</td>
          <td>{{ pizza.toppings.all | join:", " }}</td>
          <td><a class="btn btn-sm btn-info" href="{% url 'modify_pizza' pizza.id %}">Modify</a></td>
          <td><a class="btn btn-sm btn-danger" href="" data-toggle="modal" data-target="#{{pizza.id}}">Delete</a></td>
        </tr>
        
        <!-- Modal -->
        <div class="modal fade" id="{{pizza.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Remove Pizza</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Are you sure you want to delete this masterpiece: {{pizza.name}}
              </div>  
              <div class="modal-footer">
                <form action="{% url 'delete_pizza' pizza.id %}" method="POST">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-secondary btn-danger"  href="">DELETE PIZZA</button>
                </form>
                  <button type="button" class="btn btn-primary" data-dismiss="modal" >Cancel</button>
                </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock %}